<div id="chatWindow">
  <form id="chatForm">
    <input id="email" type="text" value="test@mail.com" placeholder="Correo Electronico">
    <input id="nombre" type="text" value="Nombre 1" placeholder="Nombre">
    <input id="apellido" type="text" value="Apellido 1" placeholder="Apellido">
    <input id="edad" type="text" value="55" placeholder="Edad">
    <input id="alias" type="text" value="NickName" placeholder="Alias">
    <input id="avatar" type="text" value="img.png" placeholder="Avatar">

    <input id="chatMessage" type="text" placeholder="Ingresa tu mensaje">
    <input type="submit">
    <span id="output" class="text-danger"></span>
  </form>
  <div id="chatHistory" class="h-10 overflow-auto"></div>
</div>