<div id="chatWindow">
  <form id="chatForm">
    <input id="email" type="text" placeholder="Correo Electronico">
    <input id="chatMessage" type="text" placeholder="Ingresa tu mensaje">
    <input type="submit">
    <span id="output" class="text-danger"></span>
  </form>
  <div id="chatHistory" class="h-10 overflow-auto"></div>
</div>