<div class="row flex-row border-bottom border-secondary py-2">
  <div class="col-1 d-flex align-items-center"><span><%= producto.id %></span></div>
  <div class="col-8 d-flex align-items-center"><span><%= producto.title %></span></div>
  <div class="col-1 d-flex align-items-center"><span><%= producto.price %></span></div>
  <div class="col-1 d-flex align-items-center">
    <img class="thumbnail" src="<%= producto.thumbnail %> " />
  </div>
</div>