<%- include('partials/head.ejs') %> 
<body>
    <a class="btn btn-primary" href="/" role="button">Home</a>
    <br>
    <div class="container">
      <%- include('partials/productosTable.ejs') %> 
    </div>
</body>
</html>


